<!DOCTYPE html>
<html lang="en" ng-app="LM">
<head>
  <title>L&amp;M - About</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="public/styles/libs.css">
  <link rel="stylesheet" href="public/styles/styles.css">
</head>
<body>
  <section id="contact" class="hide-xs">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <h1 class="logo"><a href="">L&amp;M</a></h1>
          <div class="contact">
            <div>
              <a href=""><img src="public/images/facebook-share.png" alt=""></a>
            </div>
            <div class="phone">
              call now
              <span>604-879-5301</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <nav id="nav" class="hide-s hide-xs">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <ul class="list-unstyled">
            <li><a href="">Home</a></li>
            <li class="active"><a href="">About Us</a></li>
            <li><a href="">Services</a></li>
            <li><a href="">Products</a></li>
            <li><a href="">Photos</a></li>
            <li><a href="">Contact Us</a></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
  <nav id="nav-mobile" class="show-s show-xs">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <h1 class="logo logo-xs show-xs pull-left"><a href="">L&amp;M</a></h1>
          <span class="menu-trigger collapsed pull-right" data-toggle="collapse" data-target="#nav-menu"><i class="fa fa-bars"></i></span>
          <ul id="nav-menu" class="list-unstyled collapse">
            <li><a href="">Home</a></li>
            <li class="active"><a href="">About Us</a></li>
            <li><a href="">Services</a></li>
            <li><a href="">Products</a></li>
            <li><a href="">Photos</a></li>
            <li><a href="">Contact Us</a></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
  <section id="page-title">
    <div class="white-bar"></div>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="page-title-text">
            <h2>About</h2>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="page-content">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-7 col-md-8 col-lg-8">
          <div class="content">
            <h3>Phasellus eget efficitur sapien</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae odio blandit, aliquam felis et, tincidunt tortor. Donec a quam ac nibh tincidunt mattis. Aliquam sed bibendum velit. Praesent eget porttitor est, et molestie nisl. Sed viverra felis augue, ut commodo orci scelerisque eu. Pellentesque nec sapien eu est fermentum volutpat vel ut nulla. Etiam et leo interdum, pharetra est in, accumsan augue. Pellentesque suscipit rhoncus interdum. Aliquam sed nisl vitae mi facilisis imperdiet. Praesent rutrum vulputate tellus, vel ultrices risus imperdiet ut. Nulla lacinia tincidunt pharetra. Nunc bibendum fringilla nisi, nec egestas massa venenatis at. Aliquam dictum at libero quis malesuada. Nam eget feugiat nibh. Morbi at est nec orci efficitur ultrices non vitae tellus.</p>
            <h3>Vivamus nec malesuada</h3>
            <p>Phasellus a aliquam orci, sit amet venenatis turpis. Donec nec bibendum felis. Maecenas efficitur tincidunt ante non maximus. Etiam viverra aliquam ipsum vitae rutrum. In hac habitasse platea dictumst. Nulla pellentesque euismod nibh, bibendum gravida lectus pellentesque aliquet. Vivamus libero leo, consequat sed porttitor nec, bibendum a quam. Suspendisse potenti. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam euismod orci felis, molestie blandit dui euismod nec. In et vestibulum velit. Sed lectus neque, varius vel dignissim vitae, luctus vitae urna. Aliquam molestie faucibus orci vel ullamcorper. Donec ac tellus pellentesque, scelerisque sem non, tristique turpis.</p>
            <h3>Why Choose Us?</h3>
            <ul class="list-unstyled why-list">
              <li class="why-1"><span></span>100% Satisfactory Guarantee</li>
              <li class="why-2"><span></span>Fixed Right or your Money back</li>
              <li class="why-3"><span></span>Free Inspections</li>
              <li class="why-4"><span></span>Fully Insured</li>
              <li class="why-5"><span></span>Fully Licensed Professionals</li>
              <li class="why-6"><span></span>Up-Front Pricing</li>
              <li class="why-7"><span></span>Experienced</li>
            </ul>
          </div>
        </div>
        <div class="col-xs-12 col-sm-5 col-md-4 col-lg-4">
          <div id="sidebar">
            <div class="widget">
              <div id="quote-form" class="quote-form">
                <div class="form-header">
                  <h4>Need a free Estimate?</h4>
                  <h5>let’s get in touch</h5>
                </div>
                <div class="form-content" ng-controller="ContactCtrl">
                  <img class="bg-form" src="public/images/bg-form.png" alt="">
                  <div>
                    <div class="contact-person">
                      Contact us using the form below or call <br>Kevin at <strong>306-536-4159</strong> for a free quote
                    </div>
                    <form name="contactForm" ng-submit="submit(contactForm.$valid)" class="form" role="form" novalidate>
                      <fieldset>
                        <label for="name">Your Name</label>
                        <input id="name" name="name" ng-model="formData.name" type="text" required>
                      </fieldset>
                      <fieldset>
                        <label for="email">E-mail Address</label>
                        <input id="email" name="email" ng-model="formData.email" type="email" required>
                      </fieldset>
                      <fieldset>
                        <label for="phone">Your Phone Number</label>
                        <input id="phone" name="phone" ng-model="formData.phone" type="text">
                      </fieldset>
                      <fieldset class="checks">
                        <span>Products you are interested in</span>
                        <label for="productA"><input id="productA" name="productA" ng-model="formData.productA" type="checkbox"> Sollicitudin</label>
                        <label for="productB"><input id="productB" name="productB" ng-model="formData.productB" type="checkbox"> Malesuada</label>
                        <label for="productC"><input id="productC" name="productC" ng-model="formData.productC" type="checkbox"> Bibendum</label>
                        <label for="productD"><input id="productD" name="productD" ng-model="formData.productD" type="checkbox"> Praesent</label>
                      </fieldset>
                      <fieldset>
                        <button class="my-btn btn-1" type="submit">Get a free quote</button>
                      </fieldset>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <div class="widget">
              <div class="facebook-plugin">
                <img src="public/images/facebook-like.png" alt="">
              </div>
            </div>
            <div class="widget">
              <div class="testimonials-slider owl-carousel" owl-single>
                <div class="testimonial">
                  <blockquote>
                    <p>Nullam sollicitudin, justo sit amet dictum maximus, risus magna sollicitudin orci, sit amet posuere lacus neque a diam. Suspendisse eros elit, sodales commodo diam a, pharetra eleifend sapien.</p>
                  </blockquote>
                  <p><cite>Suspendisse Eros</cite></p>
                </div>
                <div class="testimonial">
                  <blockquote>
                    <p>Nullam sollicitudin, justo sit amet dictum maximus, risus magna sollicitudin orci, sit amet posuere lacus neque a diam. Suspendisse eros elit, sodales commodo diam a, pharetra eleifend sapien.</p>
                  </blockquote>
                  <p><cite>Suspendisse Eros</cite></p>
                </div>
                <div class="testimonial">
                  <blockquote>
                    <p>Nullam sollicitudin, justo sit amet dictum maximus, risus magna sollicitudin orci, sit amet posuere lacus neque a diam. Suspendisse eros elit, sodales commodo diam a, pharetra eleifend sapien.</p>
                  </blockquote>
                  <p><cite>Suspendisse Eros</cite></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="quote">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="quote-text">
            <h2>Are you looking for a repair but want a quote first?</h2>
            <p>We will respond to you within the next 24 hours</p>
          </div>
          <a href="#quote-form" du-smooth-scroll class="my-btn btn-1">Get a free quote</a>
        </div>
      </div>
    </div>
  </section>
  <footer id="footer">
    <section id="footer-top">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-9 col-md-8 col-lg-6">
            <h1 class="logo white"><a href="">L&amp;M</a></h1>
            <div ng-controller="SubscribeCtrl">
              <form name="subscribeForm" ng-submit="submit(subscribeForm.$valid)" class="form subscribe" role="form" novalidate>
                <h6>Get the Latest news updates</h6>
                <fieldset class="clearfix">
                  <input id="email" name="email" ng-model="formData.email" type="email" placeholder="Enter you email address" required>
                  <button type="submit" class="my-btn btn-1">Subscribe</button>
                </fieldset>
              </form>
            </div>
          </div>
          <div class="col-xs-12 col-sm-3 col-md-offset-1 col-md-3 col-lg-offset-4 col-lg-2">
            <div class="social-wrapper">
              <h6>We are social</h6>
              <a href="" class="social social-fb"><span></span> Become a Fan</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="footer-bottom">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="footer-bottom-text">
              &copy; 2014 L&amp;M Inc. All Rights Reserved.
              <p><a href="">Privacy Policy</a> <span>•</span> <a href="">Terms &amp; Conditions</a></p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </footer>
  <script src="public/js/libs.min.js"></script>
  <script src="public/js/app.min.js"></script>
</body>
</html>