<!DOCTYPE html>
<html lang="en" ng-app="LM">
<head>
  <title>L&amp;M - Contact</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="public/styles/libs.css">
  <link rel="stylesheet" href="public/styles/styles.css">
</head>
<body>
  <section id="contact" class="hide-xs">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <h1 class="logo"><a href="">L&amp;M</a></h1>
          <div class="contact">
            <div>
              <a href=""><img src="public/images/facebook-share.png" alt=""></a>
            </div>
            <div class="phone">
              call now
              <span>604-879-5301</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <nav id="nav" class="hide-s hide-xs">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <ul class="list-unstyled">
            <li><a href="">Home</a></li>
            <li><a href="">About Us</a></li>
            <li><a href="">Services</a></li>
            <li><a href="">Products</a></li>
            <li><a href="">Photos</a></li>
            <li class="active"><a href="">Contact Us</a></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
  <nav id="nav-mobile" class="show-s show-xs">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <h1 class="logo logo-xs show-xs pull-left"><a href="">L&amp;M</a></h1>
          <span class="menu-trigger collapsed pull-right" data-toggle="collapse" data-target="#nav-menu"><i class="fa fa-bars"></i></span>
          <ul id="nav-menu" class="list-unstyled collapse">
            <li><a href="">Home</a></li>
            <li class="active"><a href="">About Us</a></li>
            <li><a href="">Services</a></li>
            <li><a href="">Products</a></li>
            <li><a href="">Photos</a></li>
            <li class="active"><a href="">Contact Us</a></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
  <section id="page-title">
    <div class="white-bar"></div>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="page-title-text">
            <h2>Contact Us</h2>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="page-content" class="contact">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
          <div class="contact-section clearfix">
            <h4>Send a Message</h4>
            <div id="quote-form" class="quote-form">
              <div class="form-content dark" ng-controller="FormCtrl">
                <div>
                  <form name="contactForm" ng-submit="submit(contactForm.$valid)" class="form" role="form" novalidate>
                    <fieldset>
                      <label for="name">Your Name</label>
                      <input id="name" name="name" ng-model="formData.name" type="text" required>
                    </fieldset>
                    <fieldset>
                      <label for="email">E-mail Address</label>
                      <input id="email" name="email" ng-model="formData.email" type="email" required>
                    </fieldset>
                    <fieldset>
                      <label for="phone">Your Phone Number</label>
                      <input id="phone" name="phone" ng-model="formData.phone" type="text" required>
                    </fieldset>
                    <fieldset>
                      <label for="message">Your Message</label>
                      <textarea id="message" name="message" ng-model="formData.message" required></textarea>
                    </fieldset>
                    <fieldset>
                      <button class="my-btn btn-1" type="submit">Get a free quote</button>
                    </fieldset>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-offset-1 col-lg-4">
          <div class="contact-section clearfix">
            <h4>Contact Us</h4>
            <ul class="list-unstyled">
              <li><i class="fa fa-phone"></i> (+506) 2222-2222</li>
              <li><i class="fa fa-envelope"></i> info@l&amp;m.com</li>
              <li><i class="fa fa-map-marker"></i> Montreal, Canada</li>
            </ul>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3">
          <div class="contact-section clearfix">
            <h4>Become a Fan</h4>
            <a href="" class="social social-fb"><span><i class="fa fa-facebook"></i></span></a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="map">
    <div gmap lat="9.862952" lng="-83.913114"></div>
  </section>
  <section id="quote">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="quote-text">
            <h2>Are you looking for a repair but want a quote first?</h2>
            <p>We will respond to you within the next 24 hours</p>
          </div>
          <a href="#page-title" du-smooth-scroll class="my-btn btn-1">Get a free quote</a>
        </div>
      </div>
    </div>
  </section>
  <footer id="footer">
    <section id="footer-top">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-9 col-md-8 col-lg-6">
            <h1 class="logo white"><a href="">L&amp;M</a></h1>
            <div ng-controller="FormCtrl">
              <form name="subscribeForm" ng-submit="submit(subscribeForm.$valid)" class="form subscribe" role="form" novalidate>
                <h6>Get the Latest news updates</h6>
                <fieldset class="clearfix">
                  <input id="email" name="email" ng-model="formData.email" type="email" placeholder="Enter you email address" required>
                  <button type="submit" class="my-btn btn-1">Subscribe</button>
                </fieldset>
              </form>
            </div>
          </div>
          <div class="col-xs-12 col-sm-3 col-md-offset-1 col-md-3 col-lg-offset-4 col-lg-2">
            <div class="social-wrapper">
              <h6>We are social</h6>
              <a href="" class="social social-fb"><span><i class="fa fa-facebook"></i></span> Become a Fan</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="footer-bottom">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="footer-bottom-text">
              &copy; 2014 L&amp;M Inc. All Rights Reserved.
              <p><a href="">Privacy Policy</a> <span>•</span> <a href="">Terms &amp; Conditions</a></p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </footer>
  <script src="https://maps.googleapis.com/maps/api/js"></script>
  <script src="public/js/libs.min.js"></script>
  <script src="public/js/app.min.js"></script>
</body>
</html>